<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hualy.shopping.dao.MmallOrderDao">
    <!--    订单管理查询所有订单-->
    <select id="findAll" resultType="Map">
     select mmall_order.id,
            mmall_shipping.receiver_name user,
            mmall_order.order_no,
            CONCAT(mmall_shipping.receiver_province,mmall_shipping.receiver_city,mmall_shipping.receiver_district,mmall_shipping.receiver_address) shipping,
            mmall_order.payment_type,
             mmall_order.postage,
             mmall_order.status,
            mmall_order.payment,
            mmall_order.payment_time,
            mmall_order.create_time,
             mmall_order.send_time,
              mmall_order.end_time,
               mmall_order.close_time
        FROM mmall_order,mmall_shipping
        WHERE mmall_order.shipping_id=mmall_shipping.id
    </select>

    <!--    将订单修改为已发货状态-->
    <update id="updataToShipped" parameterType="com.hualy.shopping.pojo.MmallOrder">
        update  mmall_order set status=3,send_time=#{send_time} where id=#{id}
    </update>
    <!--    将订单修改为交易成功状态-->
    <update id="updateToComplete" parameterType="com.hualy.shopping.pojo.MmallOrder">
        update mmall_order set status=4,end_time=#{end_time}where id=#{id}
    </update>
</mapper>